@font-face
   font-family taggetes
   font-style normal
   src url(../../src/fonts/tagettes/tagetts2_U.ttf)   
   
@font-face
   font-family Source Sans Pro
   font-style normal
   src url(https://fonts.googleapis.com/css?family=Source+Sans+Pro)

body
	font-family Tahoma, Georgia, Arial, sans-serif
	
h1
	font-size 4em
	text-align center
	color #322522
	
p 
	font-family Source Sans Pro, Georgia, sans-serif
	
.btn
    padding 12px 20px
    background-color #FF745C
    color #FFF
    height 3em
    min-width 88px
    border none
    outline none
    letter-spacing 0
    font-weight bold
    cursor pointer
    overflow hidden
    border-radius 3px
    -webkit-transition all 0.3s ease-in-out
    -moz-transition all 0.3s ease-in-out
    transition all 0.3s ease-in-out
    text-decoration none

    &:hover
        background-color #EE634B

header
	height 100vh
	padding 2vw
	background-size cover
	background-repeat no-repeat
	background-position center top
	background-attachment fixed
	background-image url(../../img/header.jpg) 
	
	h1, h2
		font-size 2em
		font-family taggetes, Georgia, Arial, sans-serif
		text-align center
		color #FEFEFE
		text-shadow #111 0.1em 0.1em 0.2em
		
	
		
.nossa-historia
	padding 2em

.save-the-date
	padding 2em
	text-align center
	background-size cover
	background-repeat no-repeat
	background-position center top
	background-attachment fixed
	background-image url(../../img/foto5.jpg)
	color #FEFEFE 
	text-shadow #111 0.1em 0.1em 0.2em
		
	h1
		color #FEFEFE
		
	h2
		font-family Source Sans Pro, Georgia, sans-serif
		
.eventos
	padding-bottom 5em
	text-align center
		
	h3
		font-size 2em
		color #FF745C
		
.fotos
	padding 2em
	text-align center
	background-size cover
	background-repeat no-repeat
	background-position center top
	background-attachment fixed
	background-image url(../../img/background-fotos.jpg)
	color #FEFEFE 
	text-shadow #111 0.1em 0.1em 0.2em
		
	h1
		color #FEFEFE
		
	img 
		border-radius 4px
		border 1px solid #444
		-webkit-box-shadow 5px 5px 12px #222
		-moz-box-shadow 5px 5px 12px #222
		box-shadow 5px 5px 12px #222
	
.presentes
	padding-bottom 2em
	background-color #FAEBE3
	
	.btn
		background-color #804000
		
.margin-top-2
	margin-top 2em
	
.margin-left-1
	margin-left 1em