 @font-face
   font-family taggetes
   font-style normal
   src url(/src/fonts/tagettes/tagetts2_U.ttf)


body
	min-height 3000px

header
	height 100vh
	padding 2vw
	background-size cover
	background-repeat no-repeat
	background-position center top
	background-attachment fixed
	background-image url(/src/img/header.png) 
	
	h1, h2
		font-family taggetes, Georgia, Arial, sans-serif
		text-align center
		color #FEFEFE
		text-shadow black 0.1em 0.1em 0.2em
		
.vh100
	min-height 100vh
	background-color #FE3
	
.vh80
	min-height 80vh
	background-color #3F5
	
.vh60
	min-height 50vh
	background-color #3F5